extends ../layouts/main

block variables
  -var title = 'Главная страница'


block content

  .container
    .main
      h1 We are launching #[b soon!]
      p Subscribe and get notified

      form(novalidate)
        label
          input(type='email' placeholder="Your email address…")
          span.error-text Please provide a valid email address
        button(type="submit") Notify Me

      img(src="static/img/common/mockup.png" alt="picture").img
